<p> Добро пожаловать, <strong><%= @user.unconfirmed_email %>!</strong></p>

<p> Для активации вашего аккаунта, нажмите на
  <a href="http://localhost:5173/account/activate/<%= @user.confirmation_token %> ">
    ссылку
  </a>
</p>
