<p>Здравствуйте, <strong><%= @user.email %></strong>!</p>

<p> Чтобы сбросить пароль, нажмите на
  <a href="http://localhost:5173/account/password/update/<%= @user.reset_password_token %>">
    ссылку
  </a>.
</p>

<p>Ссылка действительна в течение 4 часов.</p>

<p>Если вы не запрашивали сброс пароля - проигнорируйте данное письмо.</p>