<p>Здравствуйте, <strong><%= @user.email %></strong>!</p>

<p> Чтобы сбросить почту, нажмите на
  <a href="<%= Constants::Url::FRONT_END[Rails.env] %>/account/email/update/<%= @user.reset_email_token %>">
    ссылку
  </a>.
</p>

<p>Ссылка действительна в течение 4 часов.</p>

<p>Если вы не запрашивали сброс почты - проигнорируйте данное письмо.</p>