<p>Hi, <%= @user.email %></p>

<p> To reset your email, click on this
  <a href="http://localhost:5173/account/email/update/<%= @user.reset_email_token %>">
    link
  </a>
</p>

<p> Email reset link is valid 4 hours. </p>

<p>If you didn't requested for email reset - ignore this message.</p>