<p>Здравствуйте, <%= @user.email %></p>

<p> Чтобы сбросить почту, нажмите на эту
  <a href="http://localhost:5173/account/email/update/<%= @user.reset_email_token %>">
    ссылку
  </a>
</p>

<p> Ссылка действительна в течение 4 часов. </p>

<p>Если вы не запрашивали сброс почты - проигнорируйте данное письмо.</p>