<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style>
        @import url('https://fonts.cdnfonts.com/css/roboto');
        .mail-container {
            background-color: #f9f9f9;
            display: flex;
            justify-content: center;
        }

        .text-container {
            background-color: white;
            min-width: 400px;
            width: fit-content;

            font-family: "Roboto";
            font-size: 16px;
            color: black;

            border: 1px solid rgba(0, 0, 0, 0.12);
        }

        .header {
            height: 50px;
            background-color: #1976d2;
            margin-bottom: 20px;

            display: flex;
            align-items: center;
        }

        .header > h3 {
            padding-left: 20px;
            font-family: "Roboto";
        }

        .header > h3 > a {
            color: white;
            text-decoration: none;
        }

        .header > h3 > a:hover {
            transition: opacity .3s;
            opacity: 0.65;
        }

        .text-content  {
            padding: 0px 20px 10px 20px;
        }

        .divider {
            height: 1px;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.12);
        }

        .caption {
            font-size: 11px;
            color: gray;
        }
    </style>
  </head>

  <body>
    <div class="mail-container">
      <div class="text-container">
        <div class="header"><h3><a href="http://localhost:5173/">Railway</a></h3></div> <!-- TODO: change hardcoded link on constant -->
        <div class="text-content">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
